

.appBar { background-color: #062f3a;
}

.link {
color:white;
position:relative;
left:1100px;
}


.button{

    position:relative;
    left:1170px;

}
.link{
    padding-right: 10px;

}
.input{
    color:#17314c;



}
.set{
    width:500px;

}

.outline{
    border-style:ridge;
    padding:10px;
    margin:auto;
    position:relative;
    top:100px;
}
.add
{position:relative;
left:1000px;
top:5px;

}
.cancel {
    color:red;

}
